{% extends 'base.html.twig' %}

{% block title %}Szczegóły płatności{% endblock %}

{% block body %}
<div class="payment-details-container">
    <h1 class="payment-details-title">Szczegóły płatności</h1>
    <div class="payment-data">
        {% if payment %}
            <div class="payment-data-box">
                <div>
                    <span class="payment-info-label">Nazwa techniczna:</span>
                    <span>{{ payment.name }}</span>
                </div>
                <div>
                    <span class="payment-info-label">Widoczność:</span>
                    <span>{{ payment.visible == '1' ? 'Widoczna' : 'Ukryta' }}</span>
                </div>
                <div>
                    <span class="payment-info-label">Waluty:</span>
                    {% if payment.currencies is iterable and payment.currencies|length > 0 %}
                        <ul>
                            {% for currency in payment.currencies %}
                                <li>
                                    {% if currency.name is defined %} {{ currency.name }}{% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <span>Brak</span>
                    {% endif %}
                </div>
                <div>
                    <span class="payment-info-label">Waluty obsługiwane:</span>
                    {% if payment.supportedCurrencies is iterable and payment.supportedCurrencies|length > 0 %}
                        <ul>
                            {% for currency in payment.supportedCurrencies %}
                                <li>
                                    {% if currency.name is defined %} {{ currency.name }}{% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <span>Brak</span>
                    {% endif %}
                </div>
                {% set translation = payment.translations[locale] ?? null %}
                {% if translation %}
                    <div>
                        <span class="payment-info-label">Tytuł:</span>
                        <span>{{ translation.title }}</span>
                    </div>
                    <div>
                        <span class="payment-info-label">Opis:</span>
                        <span>{{ translation.description }}</span>
                    </div>
                {% endif %}

                <div>
                    <span class="payment-info-label">Kanały platności:</span>
{#                    <span>{{ channels }}</span>#}
                </div>
            </div>
        {% else %}
            <div class="payment-data-empty">Brak danych o płatności.</div>
        {% endif %}
    </div>
    <div class="payment-actions-panel">
        <button type="button" class="action-btn action-edit">Edytuj</button>
        <button type="button" class="action-btn action-notify">Wyślij powiadomienie</button>
        <button type="button" class="action-btn action-delete">Usuń</button>
    </div>
</div>
{% endblock %}
